<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/jquery.tagit.css">
    <link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/smoothness/jquery-ui.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="../static/js/tag-it.js"></script>
    <script src="../static/js/index.js"></script>
    <title>DDI Query</title>
</head>
<body>
    <div class="header">
        <img id="logo" src="../static/image/logo.png"/>
    </div>
<div class="container">
    <div id="title">
        <h4>Query Drug-Drug Interaction</h4>
    </div>
    <div id="ddi-form-div">
    <form id="query-form" action="/query" method="get">
        <div class="form-group row" id="drug1">
            <label for="input-drug1" class="col-sm-2 col-form-label">Drugs Already Taken </label>
            <div class="col-sm-10">
                <div id="input-drug1">
                    <ul id="drug-tag1"></ul>
                </div>
            </div>
        </div>
        <div class="form-group row" id="drug2">
            <label for="input-drug2" class="col-sm-2 col-form-label">New Drug </label>
            <div class="col-sm-10">
                <div id="input-drug2">
                    <ul id="drug-tag2"></ul>
                </div>
            </div>
        </div>
        <button type="submit">Get Interaction</button>
    </form>
    </div>
        {% if msg and msg.error %}
            <div class="error">{{ msg.error }}</div>
        {% endif %}

    <div id="result">
    {% if data %}
        <h4>Interaction Result For Drug {{ msg.new_drug }}</h4>
            <form id="result-form">
            {% for x in data %}
                    <div class="result-div">
                    <h5>Drug: {{ x[0] }}</h5>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label bold">Severity</label>
                        <div class="col-sm-10 result-text">
                            {{ x[1] }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="interaction" class="col-sm-2 col-form-label bold">Interaction</label>
                        <div class="col-sm-10 result-text">
                            {{ x[2] }}
                        </div>
                    </div>
                    </div>
            {% endfor %}
        </form>
        {% endif %}
    </div>
    <footer class="footer bg-faded py-5">
        <p>Copyright &copy; Clindata 2017</p>
      </footer>
</div>


</body>
</html>