body {
    width: 100%;
}

.header {
    background-color: #336699;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6), inset 0 -1px 1px rgba(0, 0, 0, 0.6), 0 0 5px rgba(0, 0, 0, 0.6);
}

#logo {
    width: 100px;
}

#ddi-form-div {
    margin-top: 40px;
}

.input-text {
    width: auto;
}

#result {
    margin-top: 30px;
}

.error {
    color: red;
}

.input-textarea {
    width: 280px;
    height: 120px;
}

.bold {
    font-weight: bold;
}

.result-div {
    margin-top: 30px;
}

.result-text {
    margin: auto;
    text-align: left;
}

#add-drug-btn {
    width: 100%;
    background-color: white;
    border: 1px solid;
}

button {
    cursor: pointer;
}

#get-result-btn {
    margin-top: 10px;
    width: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#new-query-div {
    display: flex;
}

#new-query-btn {
    margin: auto;
}

.ui-menu {
    height: 150px;
    overflow-y: scroll;
}

.ui-corner-all {
    font-size: small;
}